{
  "openapi": "3.1.0",
  "info": {
    "title": "X API Scraper",
    "version": "1.0.0",
    "description": "Speakeasy-ready OpenAPI document for the x-api-scraper TypeScript SDK.\n\nThe SDK wraps TwexAPI's X/Twitter API surface with bearer-token authentication.\nCookie/proxy based endpoints are excluded except tweet actions, follow/unfollow, and v3 DM operations.\nPaid engagement services, profile mutation, legacy-only operations, and non-v3 follower/following endpoints remain excluded.\n\nNot affiliated with X Corp.",
    "license": {
      "name": "MIT"
    }
  },
  "servers": [
    {
      "url": "https://api.twexapi.io",
      "description": "TwexAPI production API",
      "x-speakeasy-server-id": "production"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "tags": [
    {
      "name": "Account",
      "description": "Account operations exposed by x-api-scraper."
    },
    {
      "name": "Analysis",
      "description": "Analysis operations exposed by x-api-scraper."
    },
    {
      "name": "Articles",
      "description": "Articles operations exposed by x-api-scraper."
    },
    {
      "name": "Communities",
      "description": "Communities operations exposed by x-api-scraper."
    },
    {
      "name": "DM",
      "description": "DM operations exposed by x-api-scraper."
    },
    {
      "name": "Lists",
      "description": "Lists operations exposed by x-api-scraper."
    },
    {
      "name": "Search",
      "description": "Search operations exposed by x-api-scraper."
    },
    {
      "name": "Timelines",
      "description": "Timelines operations exposed by x-api-scraper."
    },
    {
      "name": "Trending",
      "description": "Trending operations exposed by x-api-scraper."
    },
    {
      "name": "Tweets",
      "description": "Tweets operations exposed by x-api-scraper."
    },
    {
      "name": "Tweet Actions",
      "description": "Tweet Actions operations exposed by x-api-scraper."
    },
    {
      "name": "Tweet Engagement",
      "description": "Tweet Engagement operations exposed by x-api-scraper."
    },
    {
      "name": "Tweet Replies",
      "description": "Tweet Replies operations exposed by x-api-scraper."
    },
    {
      "name": "Users",
      "description": "Users operations exposed by x-api-scraper."
    },
    {
      "name": "Followers",
      "description": "Followers operations exposed by x-api-scraper."
    },
    {
      "name": "Following",
      "description": "Following operations exposed by x-api-scraper."
    }
  ],
  "x-speakeasy-max-method-params": 0,
  "x-speakeasy-retries": {
    "strategy": "backoff",
    "backoff": {
      "initialInterval": 500,
      "maxInterval": 60000,
      "maxElapsedTime": 3600000,
      "exponent": 1.5
    },
    "statusCodes": [
      "408",
      "409",
      "429",
      "5XX"
    ],
    "retryConnectionErrors": true
  },
  "paths": {
    "/twitter/advanced_search/page": {
      "post": {
        "tags": [
          "Search"
        ],
        "summary": "Advanced Twitter Search by Page",
        "description": "Perform advanced Twitter search with cursor-based pagination. Each page returns up to 20 tweets. Pass next_cursor from the previous response to continue. Pricing: $0.10 per 1,000 tweets. The maximum input quantity is limited by your plan's QPS. To pass larger input quantity limits, upgrade your plan to get higher QPS.",
        "operationId": "searchAdvanced",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AdvancedSearchCursorQuery"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Current page data (up to 20 tweets) and pagination metadata (has_next_page, next_cursor).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AdvancedSearchCursorResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "x-speakeasy-group": "search",
        "x-speakeasy-name-override": "advanced"
      }
    },
    "/twitter/cashtags": {
      "post": {
        "tags": [
          "Search"
        ],
        "summary": "Search Cashtags",
        "description": "Search for tweets containing specific cashtags (stock symbols), $0.10/1000 tweets. The maximum input quantity is limited by your plan's QPS. To pass larger input quantity limits, upgrade your plan to get higher QPS.",
        "operationId": "searchCashtags",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CashtagsQuery"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "List of tweets containing the specified cashtag",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SearchResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "x-speakeasy-group": "search",
        "x-speakeasy-name-override": "cashtags"
      }
    },
    "/twitter/hashtags": {
      "post": {
        "tags": [
          "Search"
        ],
        "summary": "Search Hashtags",
        "description": "Search for tweets containing specific hashtags. The maximum input quantity is limited by your plan's QPS. To pass larger input quantity limits, upgrade your plan to get higher QPS.",
        "operationId": "searchHashtags",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/HashtagsQuery"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "List of tweets containing the specified hashtag",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SearchResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "x-speakeasy-group": "search",
        "x-speakeasy-name-override": "hashtags"
      }
    },
    "/twitter/tweets/{tweet_id}/like": {
      "post": {
        "tags": [
          "Tweet Actions"
        ],
        "summary": "Like a Tweet",
        "description": "Likes a specific tweet on behalf of the user associated with the provided cookie,$0.001 per call.",
        "operationId": "tweetsActionsLike",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "tweet_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "The numeric ID of the tweet to like.",
              "title": "Tweet Id"
            },
            "description": "The numeric ID of the tweet to like."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LikeActionBody"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "A confirmation of the action's success.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TweetActionResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "x-speakeasy-group": "tweets.actions",
        "x-speakeasy-name-override": "like"
      },
      "delete": {
        "tags": [
          "Tweet Actions"
        ],
        "summary": "Unlike a Tweet",
        "description": "Unlike a tweet, $0.001 per call.",
        "operationId": "tweetsActionsUnlike",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "tweet_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "The ID of the tweet to delete.",
              "title": "Tweet Id"
            },
            "description": "The ID of the tweet to delete."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UnfavoriteTweetQuery"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "A confirmation of the action's success.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TweetActionResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "x-speakeasy-group": "tweets.actions",
        "x-speakeasy-name-override": "unlike"
      }
    },
    "/twitter/tweets/{tweet_id}/retweet": {
      "post": {
        "tags": [
          "Tweet Actions"
        ],
        "summary": "Retweet a Tweet",
        "description": "Retweets a specific tweet on behalf of the user associated with the provided cookie,$0.001 per call.",
        "operationId": "tweetsActionsRetweet",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "tweet_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "The ID of the tweet to retweet.",
              "title": "Tweet Id"
            },
            "description": "The ID of the tweet to retweet."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RetweetActionBody"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "A confirmation of the action's success.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TweetActionResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "x-speakeasy-group": "tweets.actions",
        "x-speakeasy-name-override": "retweet"
      },
      "delete": {
        "tags": [
          "Tweet Actions"
        ],
        "summary": "Delete Retweet",
        "description": "Delete a retweet, $0.001 per call.",
        "operationId": "tweetsActionsUnretweet",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "tweet_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "The ID of the tweet to delete.",
              "title": "Tweet Id"
            },
            "description": "The ID of the tweet to delete."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DeleteRetweetQuery"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "A confirmation of the action's success.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TweetActionResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "x-speakeasy-group": "tweets.actions",
        "x-speakeasy-name-override": "unretweet"
      }
    },
    "/twitter/users": {
      "post": {
        "tags": [
          "Users"
        ],
        "summary": "Get Multiple Users by Usernames",
        "description": "Retrieve detailed profile information for multiple Twitter users by their usernames or profile URLs, $0.10/1000 users. The maximum input quantity is limited by your plan's QPS. To pass larger input quantity limits, upgrade your plan to get higher QPS.",
        "operationId": "usersGetByUsernames",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "items": {
                  "type": "string"
                },
                "type": "array",
                "title": "Usernames",
                "description": "A list of Twitter usernames or profile URLs. Provide multiple times for multiple users (e.g., `[elonmusk,sundarpichai]`).",
                "examples": [
                  "elonmusk",
                  "sundarpichai"
                ]
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "A list of user profile objects. Unfound users are represented by `null`.",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "x-speakeasy-group": "users",
        "x-speakeasy-name-override": "getByUsernames"
      }
    },
    "/v3/twitter/users/following": {
      "post": {
        "tags": [
          "Following"
        ],
        "summary": "Get Following (v3)",
        "description": "Get following list of a user. Page size 10-100; use cursor for more pages. $0.10/1000 users.",
        "operationId": "usersFollowingList",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FollowersFollowingV3Query"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Following page with cursor pagination.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VerifiedFollowersResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "x-speakeasy-group": "users.following",
        "x-speakeasy-name-override": "list"
      }
    },
    "/v3/twitter/users/followers": {
      "post": {
        "tags": [
          "Followers"
        ],
        "summary": "Get Followers (v3)",
        "description": "Get followers of a user. Page size 10-100; use cursor for more pages. $0.10/1000 users.",
        "operationId": "usersFollowersList",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FollowersFollowingV3Query"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Followers page with cursor pagination.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VerifiedFollowersResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "x-speakeasy-group": "users.followers",
        "x-speakeasy-name-override": "list"
      }
    },
    "/v3/twitter/users/verified-followers": {
      "post": {
        "tags": [
          "Followers"
        ],
        "summary": "Get Verified Followers",
        "description": "Get blue-verified followers of a user. Page size 10-100; use cursor for more pages. $0.10/1000 users.",
        "operationId": "usersFollowersVerified",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FollowersFollowingV3Query"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Verified followers page with cursor pagination.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VerifiedFollowersResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "x-speakeasy-group": "users.followers",
        "x-speakeasy-name-override": "verified"
      }
    },
    "/v3/twitter/tweets/create-thread": {
      "post": {
        "tags": [
          "Tweet Actions"
        ],
        "summary": "Create a Tweet Thread",
        "description": "Create a tweet thread from an ordered list of texts, $0.001 per call.",
        "operationId": "tweetsActionsCreateThread",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateThreadQuery"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Created tweet ids in thread order.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateThreadResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "x-speakeasy-group": "tweets.actions",
        "x-speakeasy-name-override": "createThread"
      }
    },
    "/twitter/tweets/create": {
      "post": {
        "tags": [
          "Tweet Actions"
        ],
        "summary": "Create a Tweet or Reply",
        "description": "Posts a new tweet. To create a reply, provide the `reply_tweet_id`. This endpoint does not handle quote tweets,$0.001 per call.",
        "operationId": "tweetsActionsCreate",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PostTweetQuery"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "The ID and user ID of the newly created tweet.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PostTweetResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "x-speakeasy-group": "tweets.actions",
        "x-speakeasy-name-override": "create"
      }
    },
    "/twitter/tweets/quote": {
      "post": {
        "tags": [
          "Tweet Actions"
        ],
        "summary": "Create a Quote Tweet",
        "description": "Posts a new tweet that quotes an existing tweet. Requires the URL of the tweet to be quoted and the new content,$0.001 per call.",
        "operationId": "tweetsActionsQuote",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/QuoteTweetQuery"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "The ID and user ID of the newly created quote tweet.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PostTweetResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "x-speakeasy-group": "tweets.actions",
        "x-speakeasy-name-override": "quote"
      }
    },
    "/twitter/post-tweet-without-cookie": {
      "post": {
        "tags": [
          "Tweet Actions"
        ],
        "summary": "Post Tweet (Auto Cookie)",
        "description": "Post a tweet using a random cookie from the pool, [cookie management](https://twitterxapi.com/cookies/management) \n$0.001 per call.",
        "operationId": "tweetsActionsCreateWithoutCookie",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PostTweetWithoutCookieQuery"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Tweet ID and user ID of posted tweet",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PostTweetResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "x-speakeasy-group": "tweets.actions",
        "x-speakeasy-name-override": "createWithoutCookie"
      }
    },
    "/twitter/tweets/{tweet_id}/bookmark": {
      "post": {
        "tags": [
          "Tweet Actions"
        ],
        "summary": "Bookmark a Tweet",
        "description": "Adds a specific tweet to the bookmarks of the user associated with the provided cookie,$0.001 per call.",
        "operationId": "tweetsActionsBookmark",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "tweet_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "The ID of the tweet to bookmark.",
              "title": "Tweet Id"
            },
            "description": "The ID of the tweet to bookmark."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BookmarkBody"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "A confirmation of the action's success.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TweetActionResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "x-speakeasy-group": "tweets.actions",
        "x-speakeasy-name-override": "bookmark"
      },
      "delete": {
        "tags": [
          "Tweet Actions"
        ],
        "summary": "Delete Bookmark",
        "description": "Delete a bookmark, $0.001 per call.",
        "operationId": "tweetsActionsUnbookmark",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "tweet_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "The ID of the tweet to delete.",
              "title": "Tweet Id"
            },
            "description": "The ID of the tweet to delete."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DeleteBookmarkQuery"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "A confirmation of the action's success.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TweetActionResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "x-speakeasy-group": "tweets.actions",
        "x-speakeasy-name-override": "unbookmark"
      }
    },
    "/twitter/tweets/delete-batch": {
      "post": {
        "tags": [
          "Tweet Actions"
        ],
        "summary": "Delete One or More Tweets",
        "description": "Deletes one or more tweets from a specified user account. This endpoint supports two modes:\n\n1.  **Single Tweet Deletion**: Provide a `target_id` to delete a specific tweet.\n2.  **Bulk Deletion**: Omit the `target_id` to delete **all** tweets from the user's account.\n\n**Warning**: The bulk deletion mode is irreversible and will permanently remove all tweets from the account. Use with extreme caution.",
        "operationId": "tweetsActionsDeleteBatch",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DeleteTweetQuery"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Success confirmation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeleteTweetResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "x-speakeasy-group": "tweets.actions",
        "x-speakeasy-name-override": "deleteBatch"
      }
    },
    "/twitter/tweets/{tweet_id}/replies/page": {
      "post": {
        "tags": [
          "Tweet Replies"
        ],
        "summary": "Get Replies by Page",
        "description": "**Recommended** for fetching tweet replies. Uses cursor-based pagination and avoids timeouts on large threads. The first request (omit next_cursor) returns root_tweet plus the first batch of replies. Pass next_cursor from the previous response to fetch the next page until has_next_page is false. Pricing: $0.10 per 1,000 replies.",
        "operationId": "tweetsRepliesPage",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "tweet_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "The ID of the tweet to get replies for.",
              "examples": [
                "1803006263529541838"
              ],
              "title": "Tweet Id"
            },
            "description": "The ID of the tweet to get replies for."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetRepliesPageQuery"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Current page replies, optional root_tweet on first page, and pagination metadata.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetRepliesPageResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "x-speakeasy-group": "tweets.replies",
        "x-speakeasy-name-override": "page"
      }
    },
    "/twitter/tweets/sentiment": {
      "post": {
        "tags": [
          "Analysis"
        ],
        "summary": "Sentiment Analysis",
        "description": "Sentiment Analysis, 50 credits per call.",
        "operationId": "analysisSentiment",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SentimentAnalysisQuery"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "A sentiment object.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SentimentAnalysisResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "x-speakeasy-group": "analysis",
        "x-speakeasy-name-override": "sentiment"
      }
    },
    "/twitter/users/by_ids": {
      "post": {
        "tags": [
          "Users"
        ],
        "summary": "Users Details by ID",
        "description": "Users Details by ID. The maximum input quantity is limited by your plan's QPS. To pass larger input quantity limits, upgrade your plan to get higher QPS.",
        "operationId": "usersGetByIds",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "items": {
                  "type": "string"
                },
                "type": "array",
                "title": "User Ids",
                "description": "A list of Twitter user IDs. Provide multiple times for multiple users (e.g., `[44196397,1696160451770429440]`).",
                "examples": [
                  [
                    "44196397",
                    "1696160451770429440"
                  ]
                ]
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "A list of User objects.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UsersDetailsResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "x-speakeasy-group": "users",
        "x-speakeasy-name-override": "getByIds"
      }
    },
    "/x/account/verify": {
      "post": {
        "tags": [
          "Users"
        ],
        "summary": "Verify Account Status",
        "description": "Retrieves the verification metadata for a specific account. This endpoint identifies whether an account holds a **Blue Verified** status (authenticity check) or is an **Official Organization Affiliate** (gold/grey labels). The maximum input quantity is limited by your plan's QPS. To pass larger input quantity limits, upgrade your plan to get higher QPS.",
        "operationId": "usersVerifyAccount",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "items": {
                  "type": "string"
                },
                "type": "array",
                "title": "Targets",
                "description": "The IDs or usernames of the users.",
                "examples": [
                  "1696160451770429440",
                  "elonmusk"
                ]
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "A verification object containing the account's badge type and affiliation details.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccountVerifyResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "x-speakeasy-group": "users",
        "x-speakeasy-name-override": "verifyAccount"
      }
    },
    "/twitter/users/status": {
      "post": {
        "tags": [
          "Users"
        ],
        "summary": "Batch Get User account status",
        "description": "Retrieve detailed account status for multiple Twitter users by their usernames. The maximum input quantity is limited by your plan's QPS. To pass larger input quantity limits, upgrade your plan to get higher QPS.",
        "operationId": "usersGetStatuses",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "items": {
                  "type": "string"
                },
                "type": "array",
                "title": "Usernames",
                "description": "A list of usernames of the users to get information for.",
                "examples": [
                  [
                    "elonmusk",
                    "sundarpichai"
                  ]
                ]
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "A list of user account status strings. If user is suspended return suspended, if unfound return null.",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "x-speakeasy-group": "users",
        "x-speakeasy-name-override": "getStatuses"
      }
    },
    "/v2/dm/status": {
      "post": {
        "tags": [
          "DM"
        ],
        "summary": "Check DM Permissions",
        "description": "Retrieves the Direct Message (DM) availability status for a list of users. This endpoint checks if the specified accounts can receive messages based on their privacy settings, follow status, or verified permissions.",
        "operationId": "dmStatus",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "items": {
                  "type": "string"
                },
                "type": "array",
                "title": "Targets",
                "description": "The IDs or usernames of the users.",
                "examples": [
                  "1696160451770429440",
                  "elonmusk"
                ]
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "An object mapping user identifiers to their respective DM reachability status.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DMStatusResponseV2"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "x-speakeasy-group": "dm",
        "x-speakeasy-name-override": "status"
      }
    },
    "/x/article": {
      "post": {
        "tags": [
          "Articles"
        ],
        "summary": "Batch Fetch X Articles",
        "description": "Retrieves detailed article content for a specified list of X (Twitter) IDs. Use this endpoint to fetch full text, metadata, and media links for multiple posts in a single request. The maximum input quantity is limited by your plan's QPS. To pass larger input quantity limits, upgrade your plan to get higher QPS.",
        "operationId": "articlesFetch",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "items": {
                  "type": "string"
                },
                "type": "array",
                "title": "Tweet Ids",
                "description": "A list of tweet IDs to get the articles for.",
                "examples": [
                  "1803006263529541838",
                  "1803006263529541839"
                ]
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "A list of objects containing detailed article data for each valid ID provided.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/XArticleResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "x-speakeasy-group": "articles",
        "x-speakeasy-name-override": "fetch"
      }
    },
    "/x/article/{tweet_id}/markdown": {
      "get": {
        "tags": [
          "Articles"
        ],
        "summary": "Fetch Article as Markdown",
        "description": "Retrieves the content of an X (Twitter) article formatted as **clean, valid Markdown**. The response body is delivered as a raw UTF-8 string, optimized for direct import into static site generators, Obsidian, Notion, or any standard Markdown editor.",
        "operationId": "articlesMarkdown",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "tweet_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "The tweet ID of the article to get.",
              "title": "Tweet Id"
            },
            "description": "The tweet ID of the article to get."
          }
        ],
        "responses": {
          "200": {
            "description": "Raw Markdown string representing the article content.",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "x-speakeasy-group": "articles",
        "x-speakeasy-name-override": "markdown"
      }
    },
    "/v2/tweet/detail": {
      "post": {
        "tags": [
          "Tweets"
        ],
        "summary": "Get Tweet Detail",
        "description": "Retrieve detailed information for one or more tweets by ID (no cookie required). The maximum input quantity is limited by your plan's QPS. To pass larger input quantity limits, upgrade your plan to get higher QPS.",
        "operationId": "tweetsDetail",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "items": {
                  "type": "string"
                },
                "type": "array",
                "title": "Tweet Ids",
                "description": "A list of Twitter tweet IDs. Max length is limited by your plan's QPS.",
                "examples": [
                  "2076874251915743687",
                  "1803006263529541838"
                ]
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "A list of tweet objects.",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "x-speakeasy-group": "tweets",
        "x-speakeasy-name-override": "detail"
      }
    },
    "/twitter/tweets/thread_by_id": {
      "post": {
        "tags": [
          "Tweets"
        ],
        "summary": "Get Tweet Thread by ID",
        "description": "Retrieve all tweets in a thread by tweet ID, sorted by latest.",
        "operationId": "tweetsThread",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TweetThreadByIdBody"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "A list of tweets in the thread, sorted by latest.",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "x-speakeasy-group": "tweets",
        "x-speakeasy-name-override": "thread"
      }
    },
    "/twitter/tweets/lookup": {
      "post": {
        "tags": [
          "Tweets"
        ],
        "summary": "Batch Get Tweets by ID",
        "description": "Retrieve detailed information for multiple Tweets by their IDs. The maximum input quantity is limited by your plan's QPS. To pass larger input quantity limits, upgrade your plan to get higher QPS.",
        "operationId": "tweetsLookup",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "items": {
                  "type": "string"
                },
                "type": "array",
                "title": "Tweet Ids",
                "description": "A list of Twitter tweet IDs. Provide multiple times for multiple tweets (e.g., `[1803006263529541838,1803006263529541839]`).",
                "examples": [
                  "1803006263529541838",
                  "1803006263529541839"
                ]
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "A list of Tweet objects.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetTweetsByIdResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "x-speakeasy-group": "tweets",
        "x-speakeasy-name-override": "lookup"
      }
    },
    "/v3/twitter/send-dm": {
      "post": {
        "tags": [
          "DM"
        ],
        "summary": "Send DM",
        "description": "Send DM via XChat encrypted chat API (1:1 or existing group g...), optional image via media_urls (max 1) or video via video_url (mutually exclusive). $0.001 per call.",
        "operationId": "dmSend",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SendDmV3Query"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "A message object.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SendDmResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "x-speakeasy-group": "dm",
        "x-speakeasy-name-override": "send"
      }
    },
    "/v3/twitter/dm-history": {
      "post": {
        "tags": [
          "DM"
        ],
        "summary": "Get DM History",
        "description": "Get DM history via XChat encrypted chat API. Use count for page size (10–200). Set all=true to follow has_more and return every page. Or paginate manually: when has_more is true, pass the oldest message's sequence_id as before.",
        "operationId": "dmHistory",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetDmHistoryV3Query"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Conversation messages with pagination info.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetDmHistoryV3Response"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "x-speakeasy-group": "dm",
        "x-speakeasy-name-override": "history"
      }
    },
    "/v3/twitter/dm-media": {
      "post": {
        "tags": [
          "DM"
        ],
        "summary": "Get DM Media",
        "description": "Fetch one XChat media attachment and return a playable URL. Use conversation_id, media_hash_key, and optional key_version from /v3/twitter/dm-history attachments.",
        "operationId": "dmMedia",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetDmMediaV3Query"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Playable media URL and metadata.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetDmMediaV3Response"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "x-speakeasy-group": "dm",
        "x-speakeasy-name-override": "media"
      }
    },
    "/v3/twitter/conversations": {
      "post": {
        "tags": [
          "DM"
        ],
        "summary": "Get Conversations",
        "description": "Get XChat conversation list. Use count for page size (10–200). Set all=true to follow the inbox cursor and return every conversation.",
        "operationId": "dmConversations",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetConversationsV3Query"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "A list of conversation objects.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetConversationsV3Response"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "x-speakeasy-group": "dm",
        "x-speakeasy-name-override": "conversations"
      }
    },
    "/twitter/tweets/{tweet_id}/similar": {
      "get": {
        "tags": [
          "Tweets"
        ],
        "summary": "Get Similar Tweets",
        "description": "Get similar tweets",
        "operationId": "tweetsSimilar",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "tweet_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Tweet Id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A list of tweet objects.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetTweetsByIdResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "x-speakeasy-group": "tweets",
        "x-speakeasy-name-override": "similar"
      }
    },
    "/twitter/search-user/{keyword}/{target_count}": {
      "get": {
        "tags": [
          "Users"
        ],
        "summary": "Search User",
        "description": "Search user",
        "operationId": "usersSearch",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "keyword",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "The keyword to search for.",
              "title": "Keyword"
            },
            "description": "The keyword to search for."
          },
          {
            "name": "target_count",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "description": "The number of users to return.",
              "title": "Target Count"
            },
            "description": "The number of users to return."
          }
        ],
        "responses": {
          "200": {
            "description": "A list of user objects.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SearchUserResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "x-speakeasy-group": "users",
        "x-speakeasy-name-override": "search"
      }
    },
    "/twitter/tweets/{tweet_id}/retweeters/{target_count}": {
      "get": {
        "tags": [
          "Tweet Engagement"
        ],
        "summary": "Get Retweeters",
        "description": "Retrieve retweeters in a single request. Automatically paginates until count is reached or no more results. Minimum 10, maximum 5000 users.",
        "operationId": "tweetsEngagementRetweeters",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "tweet_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "The ID of the tweet to get retweeters for.",
              "title": "Tweet Id"
            },
            "description": "The ID of the tweet to get retweeters for."
          },
          {
            "name": "target_count",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "maximum": 5000,
              "minimum": 1,
              "description": "Number of retweeters to return (minimum 10, maximum 5000).",
              "examples": [
                100
              ],
              "title": "Target Count"
            },
            "description": "Number of retweeters to return (minimum 10, maximum 5000)."
          }
        ],
        "responses": {
          "200": {
            "description": "A list of user objects (up to count).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SearchUserResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "x-speakeasy-group": "tweets.engagement",
        "x-speakeasy-name-override": "retweeters"
      }
    },
    "/twitter/tweets/retweeters/page": {
      "post": {
        "tags": [
          "Tweet Engagement"
        ],
        "summary": "Get Retweeters by Page",
        "description": "Retrieve retweeters using cursor-based pagination. Each page returns up to 20 users. Pass next_cursor from the previous response to continue.",
        "operationId": "tweetsEngagementRetweetersPage",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetRetweetersCursorQuery"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Current page data (up to 20 users) and pagination metadata (has_next_page, next_cursor).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetRetweetersCursorResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "x-speakeasy-group": "tweets.engagement",
        "x-speakeasy-name-override": "retweetersPage"
      }
    },
    "/twitter/tweets/quotes": {
      "post": {
        "tags": [
          "Tweet Engagement"
        ],
        "summary": "Get Quote Tweets",
        "description": "Retrieve quote tweets in a single request. Automatically paginates until count is reached or no more results. Use `Latest` for chronological order or `Top` for ranked results. Minimum 10, maximum 5000 tweets.",
        "operationId": "tweetsEngagementQuotes",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetQuotesQuery"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "A list of quote tweet objects (up to count).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetQuotesResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "x-speakeasy-group": "tweets.engagement",
        "x-speakeasy-name-override": "quotes"
      }
    },
    "/twitter/tweets/quotes/page": {
      "post": {
        "tags": [
          "Tweet Engagement"
        ],
        "summary": "Get Quote Tweets by Page",
        "description": "Retrieve quote tweets using cursor-based pagination. Each page returns up to 20 tweets. Use `Latest` for chronological order or `Top` for ranked results. Pass next_cursor from the previous response to continue.",
        "operationId": "tweetsEngagementQuotesPage",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetQuotesCursorQuery"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Current page data (up to 20 quote tweets) and pagination metadata (has_next_page, next_cursor).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetQuotesCursorResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "x-speakeasy-group": "tweets.engagement",
        "x-speakeasy-name-override": "quotesPage"
      }
    },
    "/twitter/user/follow": {
      "post": {
        "tags": [
          "Users"
        ],
        "summary": "Follow User",
        "description": "Follow a user, $0.001 per call.",
        "operationId": "usersFollow",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FollowUserQuery"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "A confirmation of the action's success.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BlockUserResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "x-speakeasy-group": "users",
        "x-speakeasy-name-override": "follow"
      },
      "delete": {
        "tags": [
          "Users"
        ],
        "summary": "Unfollow User",
        "description": "Unfollow a user, $0.001 per call.",
        "operationId": "usersUnfollow",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UnfollowUserQuery"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "A confirmation of the action's success.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnfollowUserResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "x-speakeasy-group": "users",
        "x-speakeasy-name-override": "unfollow"
      }
    },
    "/twitter/community/{community_id}/members/{target_count}": {
      "get": {
        "tags": [
          "Communities"
        ],
        "summary": "Get Community Members",
        "description": "Get community members",
        "operationId": "communitiesMembers",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "community_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Community Id"
            }
          },
          {
            "name": "target_count",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "title": "Target Count"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A list of user objects.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SearchUserResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "x-speakeasy-group": "communities",
        "x-speakeasy-name-override": "members"
      }
    },
    "/twitter/community/members/page": {
      "post": {
        "tags": [
          "Communities"
        ],
        "summary": "Get Community Members by Page",
        "description": "Retrieve a paginated list of community members using cursor-based pagination. Each page returns up to 20 members. Pass next_cursor from the previous response to continue. Pricing: $0.10 per 1,000 members.",
        "operationId": "communitiesMembersPage",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetCommunityMembersCursorQuery"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Current page data (up to 20 members) and pagination metadata (has_next_page, next_cursor).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetCommunityMembersCursorResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "x-speakeasy-group": "communities",
        "x-speakeasy-name-override": "membersPage"
      }
    },
    "/twitter/community/{community_id}/tweets/{tweet_type}/{target_count}": {
      "get": {
        "tags": [
          "Communities"
        ],
        "summary": "Get Community Tweets",
        "description": "Get community tweets",
        "operationId": "communitiesTweets",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "community_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Community Id"
            }
          },
          {
            "name": "tweet_type",
            "in": "path",
            "required": true,
            "schema": {
              "enum": [
                "Top",
                "Latest",
                "Media"
              ],
              "type": "string",
              "title": "Tweet Type"
            }
          },
          {
            "name": "target_count",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "title": "Target Count"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A list of tweet objects.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommunityTweetsResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "x-speakeasy-group": "communities",
        "x-speakeasy-name-override": "tweets"
      }
    },
    "/twitter/community/tweets/page": {
      "post": {
        "tags": [
          "Communities"
        ],
        "summary": "Get Community Tweets by Page",
        "description": "Retrieve a paginated list of community tweets using cursor-based pagination. Each page returns up to 20 tweets. Pass next_cursor from the previous response to continue. Pricing: $0.10 per 1,000 tweets.",
        "operationId": "communitiesTweetsPage",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetCommunityTweetsCursorQuery"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Current page data (up to 20 tweets) and pagination metadata (has_next_page, next_cursor).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetCommunityTweetsCursorResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "x-speakeasy-group": "communities",
        "x-speakeasy-name-override": "tweetsPage"
      }
    },
    "/twitter/list/{list_id}/tweets/{target_count}": {
      "get": {
        "tags": [
          "Lists"
        ],
        "summary": "Get List Tweets",
        "description": "Get list tweets",
        "operationId": "listsTweets",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "list_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "List Id"
            }
          },
          {
            "name": "target_count",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "title": "Target Count"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A list of tweet objects.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListTweetsResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "x-speakeasy-group": "lists",
        "x-speakeasy-name-override": "tweets"
      }
    },
    "/twitter/list/tweets/page": {
      "post": {
        "tags": [
          "Lists"
        ],
        "summary": "Get List Tweets by Page",
        "description": "Retrieve a paginated list of list tweets using cursor-based pagination. Each page returns up to 20 tweets. Pass next_cursor from the previous response to continue. Pricing: $0.10 per 1,000 tweets.",
        "operationId": "listsTweetsPage",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetListTweetsCursorQuery"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Current page data (up to 20 tweets) and pagination metadata (has_next_page, next_cursor).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetListTweetsCursorResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "x-speakeasy-group": "lists",
        "x-speakeasy-name-override": "tweetsPage"
      }
    },
    "/twitter/list/{list_id}/subscribers/{target_count}": {
      "get": {
        "tags": [
          "Lists"
        ],
        "summary": "Get List Subscribers",
        "description": "Get list subscribers",
        "operationId": "listsSubscribers",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "list_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "List Id"
            }
          },
          {
            "name": "target_count",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "title": "Target Count"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A list of user objects.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListSubscribersResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "x-speakeasy-group": "lists",
        "x-speakeasy-name-override": "subscribers"
      }
    },
    "/twitter/list/{list_id}/members/{target_count}": {
      "get": {
        "tags": [
          "Lists"
        ],
        "summary": "Get List Members",
        "description": "Get list members",
        "operationId": "listsMembers",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "list_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "List Id"
            }
          },
          {
            "name": "target_count",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "title": "Target Count"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A list of user objects.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListMembersResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "x-speakeasy-group": "lists",
        "x-speakeasy-name-override": "members"
      }
    },
    "/twitter/list/members/page": {
      "post": {
        "tags": [
          "Lists"
        ],
        "summary": "Get List Members by Page",
        "description": "Retrieve a paginated list of list members using cursor-based pagination. Each page returns up to 20 members. Pass next_cursor from the previous response to continue. Pricing: $0.10 per 1,000 members.",
        "operationId": "listsMembersPage",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetListMembersCursorQuery"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Current page data (up to 20 members) and pagination metadata (has_next_page, next_cursor).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetListMembersCursorResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "x-speakeasy-group": "lists",
        "x-speakeasy-name-override": "membersPage"
      }
    },
    "/twitter/list/search": {
      "post": {
        "tags": [
          "Lists"
        ],
        "summary": "Search List",
        "description": "Search list",
        "operationId": "listsSearch",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SearchListQuery"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "A list of list objects.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SearchListResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "x-speakeasy-group": "lists",
        "x-speakeasy-name-override": "search"
      }
    },
    "/twitter/community/search": {
      "post": {
        "tags": [
          "Communities"
        ],
        "summary": "Search Community",
        "description": "Search community",
        "operationId": "communitiesSearch",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SearchCommunityQuery"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "A list of community objects.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SearchCommunityResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "x-speakeasy-group": "communities",
        "x-speakeasy-name-override": "search"
      }
    },
    "/twitter/community/{community_id}": {
      "get": {
        "tags": [
          "Communities"
        ],
        "summary": "Get Community",
        "description": "Get community",
        "operationId": "communitiesGet",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "community_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Community Id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A community object.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetCommunityResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "x-speakeasy-group": "communities",
        "x-speakeasy-name-override": "get"
      }
    },
    "/twitter/community/search-tweets": {
      "post": {
        "tags": [
          "Communities"
        ],
        "summary": "Search Community Tweets",
        "description": "Search community tweets",
        "operationId": "communitiesSearchTweets",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SearchCommunityTweetsQuery"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "A list of tweet objects.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommunityTweetsResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "x-speakeasy-group": "communities",
        "x-speakeasy-name-override": "searchTweets"
      }
    },
    "/twitter/global-trending/countries": {
      "get": {
        "tags": [
          "Trending"
        ],
        "summary": "List Global Trend Countries",
        "description": "Get the supported country and global options that can be used to filter trending tweets.",
        "operationId": "trendingCountries",
        "responses": {
          "200": {
            "description": "Country filter options for global trending tweets.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StandardResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "x-speakeasy-group": "trending",
        "x-speakeasy-name-override": "countries"
      }
    },
    "/twitter/global-trending/topics": {
      "get": {
        "tags": [
          "Trending"
        ],
        "summary": "List Global Trend Topics",
        "description": "Get the topic categories available for filtering global trending tweets.",
        "operationId": "trendingTopics",
        "responses": {
          "200": {
            "description": "Topic filter options for global trending tweets.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StandardResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "x-speakeasy-group": "trending",
        "x-speakeasy-name-override": "topics"
      }
    },
    "/twitter/global-trending/contents": {
      "get": {
        "tags": [
          "Trending"
        ],
        "summary": "List Global Trend Content Tags",
        "description": "Get content tags for a selected country and topic so tweets can be filtered more precisely.",
        "operationId": "trendingContents",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "country",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Country name or slug returned by /twitter/global-trending/countries",
              "title": "Country"
            },
            "description": "Country name or slug returned by /twitter/global-trending/countries"
          },
          {
            "name": "topic",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Topic name or slug returned by /twitter/global-trending/topics",
              "title": "Topic"
            },
            "description": "Topic name or slug returned by /twitter/global-trending/topics"
          }
        ],
        "responses": {
          "200": {
            "description": "Content tag options for the selected country and topic.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StandardResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "x-speakeasy-group": "trending",
        "x-speakeasy-name-override": "contents"
      }
    },
    "/twitter/global-trending/tweets": {
      "get": {
        "tags": [
          "Trending"
        ],
        "summary": "Get Global Trending Tweets",
        "description": "Get trending tweets for a country, with optional topic and content tag filters.",
        "operationId": "trendingTweets",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "country",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Country name or slug returned by /twitter/global-trending/countries",
              "title": "Country"
            },
            "description": "Country name or slug returned by /twitter/global-trending/countries"
          },
          {
            "name": "topic",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Optional topic name or slug returned by /twitter/global-trending/topics",
              "title": "Topic"
            },
            "description": "Optional topic name or slug returned by /twitter/global-trending/topics"
          },
          {
            "name": "content",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Optional content tag returned by /twitter/global-trending/contents",
              "title": "Content"
            },
            "description": "Optional content tag returned by /twitter/global-trending/contents"
          },
          {
            "name": "count",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 100,
              "minimum": 1,
              "description": "Maximum number of tweets to return.",
              "default": 20,
              "title": "Count"
            },
            "description": "Maximum number of tweets to return."
          }
        ],
        "responses": {
          "200": {
            "description": "Trending tweets matching the selected filters.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SearchResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "x-speakeasy-group": "trending",
        "x-speakeasy-name-override": "tweets"
      }
    },
    "/twitter/{country}/trending": {
      "get": {
        "tags": [
          "Trending"
        ],
        "summary": "Get Trending Topics",
        "description": "Get X Explore trending topics for a given country. Use 'worldwide' for account-default trends or a country slug such as 'united-states'.",
        "operationId": "trendingByCountry",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "country",
            "in": "path",
            "required": true,
            "schema": {
              "enum": [
                "worldwide",
                "algeria",
                "argentina",
                "australia",
                "austria",
                "bahrain",
                "belarus",
                "belgium",
                "brazil",
                "canada",
                "chile",
                "colombia",
                "denmark",
                "dominican-republic",
                "ecuador",
                "egypt",
                "france",
                "germany",
                "ghana",
                "greece",
                "guatemala",
                "india",
                "indonesia",
                "ireland",
                "israel",
                "italy",
                "japan",
                "jordan",
                "kenya",
                "korea",
                "kuwait",
                "latvia",
                "lebanon",
                "malaysia",
                "mexico",
                "netherlands",
                "new-zealand",
                "nigeria",
                "norway",
                "oman",
                "pakistan",
                "panama",
                "peru",
                "philippines",
                "poland",
                "portugal",
                "qatar",
                "russia",
                "saudi-arabia",
                "singapore",
                "south-africa",
                "spain",
                "sweden",
                "switzerland",
                "thailand",
                "turkey",
                "ukraine",
                "united-arab-emirates",
                "united-kingdom",
                "united-states",
                "venezuela",
                "vietnam",
                "zimbabwe"
              ],
              "type": "string",
              "description": "Country slug or 'worldwide' for default explore trends",
              "examples": [
                "worldwide",
                "united-states",
                "japan",
                "united-kingdom",
                "zimbabwe"
              ],
              "title": "Country"
            },
            "description": "Country slug or 'worldwide' for default explore trends"
          }
        ],
        "responses": {
          "200": {
            "description": "Standard response with list of trending topics in data field",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StandardResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "x-speakeasy-group": "trending",
        "x-speakeasy-name-override": "byCountry"
      }
    },
    "/twitter/{screen_name}/tweets-replies/{count}": {
      "get": {
        "tags": [
          "Timelines"
        ],
        "summary": "Get All Tweets and Replies by User",
        "description": "Get all tweets and replies posted by a specific Twitter user. Returns a comprehensive list including both original tweets and reply tweets posted by the user. $0.10/1000 items.",
        "operationId": "timelinesTweetsAndReplies",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "screen_name",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "The screen name (username) of the Twitter user to get all tweets and replies from.",
              "examples": [
                "elonmusk"
              ],
              "title": "Screen Name"
            },
            "description": "The screen name (username) of the Twitter user to get all tweets and replies from."
          },
          {
            "name": "count",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "maximum": 10000000,
              "minimum": 1,
              "description": "Maximum number of tweets and replies to return.",
              "examples": [
                50
              ],
              "title": "Count"
            },
            "description": "Maximum number of tweets and replies to return."
          }
        ],
        "responses": {
          "200": {
[...]
